<% if video_item %>
  <div class="video_item">
    <span class="title"><%= video_item.title %></span>
    <span class="content">
    	<a href="<%= video_path(video_item) %>"><img alt="<%= video_item.title %>" border="0" width = "480" height = "270" src="<%= video_item.thumbnail_url %>" class="img-responsive" /></a>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(video_item.created_at) %> ago.
      From <%= video_item.video_type %>
    </span>
  </div>
<% end %>
